bin/zkcli
lein/repl-history
lein/credentials.clj.gpg

# Machine-wide Claude Code stuff
claude/history.jsonl
claude/cache/
claude/debug/
claude/file-history/
claude/session-env/
claude/shell-snapshots/
claude/stats-cache.json
claude/plans/
claude/todos/
claude/projects/

# Repository-local Claude Code stuff
.claude/**/*.local.*
