bin/zkcli
lein/repl-history
lein/credentials.clj.gpg

# Machine-wide Claude Code stuff
claude/backups/
claude/cache/
claude/debug/
claude/file-history/
claude/history.jsonl
claude/ide/
claude/plans/
claude/plugins/
claude/projects/
claude/session-env/
claude/shell-snapshots/
claude/stats-cache.json
claude/todos/
claude/**/*.local.*

# Repository-local Claude Code stuff
.claude/**/*.local.*
